<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="com.employee.managementapi.skill.framework.DomainFrameworkSkillMapper">
	<select id="selectEmployeeIdListByFilterList"
	  resultType="java.lang.Integer">
  SELECT
     emp.employee_id
  FROM
    employee_framework_skill as emp_framework
  INNER JOIN 
    employee as emp on
    emp.employee_id = emp_framework.employee_id
  INNER JOIN
    employee_status as es on
    es.employee_status_id = emp.employee_status_id 
    AND
    es.employee_status_id = 1
  WHERE
   <foreach item="domainFrameworkSkill" collection="domainFrameworkSkills"
      separator="OR">
          emp_framework.framework_skill_id = #{domainFrameworkSkill.frameworkSkillId} AND emp_framework.skill_level <![CDATA[>=]]> #{domainFrameworkSkill.skillLevel}
  </foreach>
  GROUP BY 
   emp.employee_id 
  HAVING
   COUNT(*) = #{domainFrameworkSkillsSize}
  ORDER BY
    emp.employee_id
     </select>


<select id="selectListByEnployeeIdList" parameterType="com.employee.managementapi.employee.EmployeeId"  resultType="com.employee.managementapi.skill.framework.FrameworkSkill">
  SELECT
     framework_skill.framework_skill_id
    ,framework_skill.framework_skill_name
    ,emp_framework.skill_level
  FROM
    employee_framework_skill as emp_framework
  INNER JOIN
    framework_skill as framework_skill on 
    framework_skill.framework_skill_id = emp_framework.framework_skill_id
  INNER JOIN 
    employee as emp on
    emp.employee_id = emp_framework.employee_id
  INNER JOIN
    employee_status as es on
    es.employee_status_id = emp.employee_status_id 
  AND
    es.employee_status_id = 1
  WHERE 
    emp.employee_id 
    IN
    <foreach item="employeeId" open="(" close=")" collection="employeeIds" separator=",">
      #{employeeId.employeeId}
    </foreach>
  ORDER BY
    emp.employee_id,  framework_skill.framework_skill_id
</select>
</mapper>