<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="com.employee.managementapi.employee.skill.database.EmployeeDatabaseSkillMapper">
	<select id="selectList" resultType="com.employee.managementapi.employee.skill.database.EmployeeDatabaseSkill">
	  SELECT
		 emp.employee_id
        ,emp_database.employee_database_skill_id
		,emp.employee_code
		,database_skill.database_skill_name
		,emp_database.skill_level
	  FROM
		employee_database_skill as emp_database
	  INNER JOIN
		database_skill on 
		database_skill.database_skill_id = emp_database.database_skill_id
	  INNER JOIN 
		employee as emp on
		emp.employee_id = emp_database.employee_id
	  INNER JOIN
		employee_status as es on
		es.employee_status_id = emp.employee_status_id 
	  AND
		es.employee_status_id = 1
	  ORDER BY
		emp.employee_id, database_skill.database_skill_id
	</select>
		
	<update id="update" parameterType="com.employee.managementapi.employee.skill.database.EmployeeDatabaseSkill">
	  UPDATE employee.employee_database_skill 
	  SET
    	skill_level = #{skillLevel}         
	  WHERE
       employee_database_skill_id = #{employeeDatabaseSkillId}
	</update>

<delete id="delete" parameterType="com.employee.managementapi.employee.skill.database.EmployeeDatabaseSkill">
DELETE 
FROM
    employee.employee_database_skill 
WHERE
    employee_database_skill_id = #{employeeDatabaseSkillId}
</delete>


</mapper>