<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="com.employee.managementapi.security.CompanyEmailMapper">
	<select id="countByCompanyEmailAsPassword" resultType="java.lang.Integer" parameterType="com.employee.managementapi.security.CompanyEmail">
	SELECT
    	COUNT( * )
	FROM
    	password AS pass
	INNER JOIN
    	active_employee_contact_information AS ae ON
    	pass.active_employee_contact_information_id = ae.active_employee_contact_information_id    
	WHERE 
    	ae.company_email = #{companyEmail}
	</select>
	
	<select id="selectActiveEmployeeContactInformationIdByEmail" resultType="java.lang.Integer" parameterType="com.employee.managementapi.security.CompanyEmail">
	SELECT
    	active_employee_contact_information_id
	FROM
    	active_employee_contact_information
	WHERE 
    	company_email = #{companyEmail}	
	</select>

	<select id="countByCompanyEmailAsActiveEmployeeCompanyEmail" resultType="java.lang.Integer" parameterType="com.employee.managementapi.security.CompanyEmail">
	SELECT
    	COUNT( * )
	FROM
    	active_employee_contact_information AS ae
	WHERE 
    	ae.company_email = #{companyEmail}
	</select>
</mapper>